* {
  margin: 0px;
  padding: 0px;
}

body {
  background-color: #808080;
}

main {
  margin: 25px auto;
  width: 650px;
  background-color: #ff9f71;
  border-radius: 20px;
  padding: 25px 25px;
}

header {
  margin-bottom: 30px;
}

header h1 {
  display: inline-block;
  margin-right: 300px;
}

header h2 {
  display: inline-block;
  margin-right: 200px;
}

header h4 {
  display: inline-block;
  margin-left: 20px;
}

table, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 3px;
}

.flash {
  margin: 10px 25px;
  background-color: yellow;
}

.txtInput {
  width: 250px;
}

#leftColumn {
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

#rightColumn {
  display: inline-block;
  vertical-align: top;
}
