<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Login</title>
  {% load staticfiles %}
  <link rel="stylesheet" href=" {% static 'loginReg/css/master.css' %} ">
  <!-- <link rel="stylesheet" href="../static/css/master.css"> -->
</head>
<body>
  <main>
    <h1>Login</h1>
    {% if messages %}
      {% for message in messages %}
        <p class="flash">{{ message }}</p>
      {% endfor %}
    {% endif %}
    <div class="loginSection">
      <form class="" action="{% url 'loginReg:logMeIn' %}" method="POST">
        {% csrf_token %}
        <table>
          <tr>
            <td>Login Name:</td>
            <td>
              <input type="text" name="email" placeholder="login@email.com">
            </td>
          </tr>
          <tr>
            <td>Password:</td>
            <td>
              <input type="password" name="password" placeholder="myPassword">
            </td>
          </tr>
          <tr>
            <td></td>
            <td>
              <button type="submit">Login</button>
            </td>
          </tr>
          <tr>
            <td colspan="2">
            {% if users %}
            {% for user in users %}
              <p>{{user.first_name}} {{user.last_name}} {{user.email}}</p>
            {% endfor%}
            {% endif %}
            </td>
          </tr>
        </table>
      </form>
    </div>
      <!-- <h5>Not a member? Register <a href="/register">here.</a></h5> -->
      <h1>Registration</h1>
      <div class="loginSection">
      <table>
        <tbody>
            <form action="{% url 'loginReg:registerMe' %}" method="POST">
              {% csrf_token %}
              <tr>
                <td>First name:</td><td class="display"><input type="text" name="firstname" placeholder="First name"></td>
              </tr>
              <tr>
                <td>Last name:</td><td class="display"><input type="text" name="lastname" placeholder="Last name"></td>
              </tr>
              <tr>
                <td>Email:</td><td class="display"><input type="text" name="email" placeholder="email@email.com"></td>
              </tr>
              <tr>
                <td>Password:</td><td class="display"><input type="password" name="password" placeholder="Password"></td>
              </tr>
              <tr>
                <td>Confirm password:</td><td class="display"><input type="password" name="confirmPass" placeholder="Repeat password"></td>
              </tr>
              <!-- <tr>
                <td>Birthday</td><td><input type="text" name="birthday" placeholder="mm/dd/yyyy"></td>
              </tr> -->
              <tr>
                <td></td>
                <td>
                  <button type="submit" name="updateMe">Update</button>
                </td>
              </tr>
              </form>
          </tbody>
        </table>
    </div>
  </main>
</body>
</html>
